.App {
  padding:30px;
  padding-bottom: 150px;
  text-align: center;
  background-color: black;
  color: rgb(248, 248, 174);
  font-size: 3vw;
}

.botonPrev{
  background-color: hsl(182, 81%, 62%);
  border: 2px solid hsl(182, 81%, 62%) ;
  width: 20vw;
  height: 6vw;
  border-radius: 10px;
  color:white
}
.botonPrev:hover{
  background-color: hsl(182, 81%, 62%);
  box-shadow: 0 0 15px hsl(182, 81%, 62%);
}
.botonNext{
  background-color: hsl(0, 87%, 56%);
  border: 2px solid hsl(0, 87%, 56%) ;
  width: 20vw;
  height: 6vw;
  border-radius: 10px;
  color:white
}
.botonNext:hover{
  background-color: hsl(0, 87%, 56%);
  box-shadow: 0 0 15px hsl(0, 87%, 56%);
}

